<ion-header>
  <ion-toolbar>
    <ion-title>Registrarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (submit)="onSubmit()">

    <ion-grid fixed>

      <ion-row class="ion-justify-content-center">

        <ion-col size="12" size-md="4">

          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="Capture su nombre" autofocus enterkeyhint="next" inputmode="text" type="text"
              formControlName="name">
            </ion-input>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-col size="12" size-md="4">

          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input placeholder="Capture su apellido" enterkeyhint="next" inputmode="text" type="text"
              formControlName="lastName">
            </ion-input>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-col size="12" size-md="4">

          <ion-item>
            <ion-label position="stacked">Nombre de Usuario</ion-label>
            <ion-input placeholder="Capture su nombre de usuario" enterkeyhint="next" inputmode="text" type="text"
              formControlName="username">
            </ion-input>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-col size="12" size-md="4">

          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input placeholder="Capture su contraseña" enterkeyhint="done" type="password"
              formControlName="password">
            </ion-input>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-col size="12" size-md="4" [ngClass]="{ 'ion-text-right': !isSend, 'ion-text-center': isSend }">

          <ion-spinner name="circles" class="ion-margin-top" *ngIf="isSend"></ion-spinner>

          <ion-button color="primary" shape="round" type="submit" class="ion-margin-top" *ngIf="!isSend">
            Registrarme
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </form>

</ion-content>